@forward './variables';
@use './global';

:root { color-scheme: light dark; }

.section { padding-block: var(--space-10); }
@media (min-width: 641px) { .section { padding-block: var(--space-12); } }

